#RSA Keys
private.pem
private.key
public.pem
public.key

#certificates
*.pem
*.key
*.p12
*.pfx
*.crt

#envoriment
.env
.env.*

#node
.DS_Store
node_modules/
dist/
build/
coverage/
.next/
.env
.env.*
.cache/
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.pid
*.seed
*.tgz
/.parcel-cache
/.pnp
/.pnp.js
!.pnp.cjs
/.turbo
/.eslintcache
package-lock.json
npm-shrinkwrap.json
yarn.lock
pnpm-lock.yaml
.pnpm-store/
pnpm-debug.log
pnpm-workspace.yaml